/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

/* root styles */
:root {
    --lightgray: #727272;
    --darkgray: #424242;
    --black: #131313;
    --orange: #FF900E;
    --white: #FFFFFF;
}

* {
    transition: 0.3s ease;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
    margin: 0 auto;
}

p {
    font-weight: 400;
    font-size: 16px;
    color: var(--lightgray);
    line-height: 26px;
}

h2 {
    font-weight: 700;
    font-size: 45px;
    color: var(--black);
}

/*************************
      header section 
**************************/

header {
    padding: 0 240px;
    background: rgba(255, 144, 14, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
}


nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-left: 25px;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--darkgray);
}

/*****************************
         banner section  
*******************************/
.banner {
    margin-top: 100px;
    text-align: center;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    color: var(--black);
    line-height: 75px;
}

.banner-description {
    width: 60%;
    margin: 10px auto 40px;

}

.btn {
    padding: 20px 25px;
    background-color: var(--orange);
    border: none;
    color: var(--white);
    font-weight: 600;
    font-size: 20px;
    border-radius: 8px;
}

.banner img {
    width: 100%;
    margin: 45px 0;
}


/********************
     team section 
*********************/
.team {
    padding: 0 240px;
}

.team-container {
    padding: 0 60px;
    margin-top: 85px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 70px;
}

.team-photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 24px;
}

.team-photos img {
    width: 100%;
}

.team-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.team-title {
    margin: 0;
}

.team-title .lightgray {
    font-weight: 500;
    color: var(--lightgray);
}

.team-title .black {
    font-weight: 700;
    color: var(--black);
}

.team-title .orange {
    font-weight: 700;
    color: var(--orange);
}

.team-description {
    margin: 30px 0 40px;
}

/*****************************
        feature section
******************************/
.feature {
    padding: 0 240px;
    margin: 130px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 145px;
    position: relative;
}


.feature-title {
    border-left: 5px solid var(--orange);
    padding-left: 20px;
}

.feature-description {
    margin-bottom: 30px;
}

.feature-item {
    padding: 30px 40px 30px 30px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}


.feature-item-title,
.feature-item-desc {
    margin: 0;
}

.feature-item-title {
    margin-bottom: 10px;
    font-weight: 600px;
    font-size: 20px;
}

.experience {
    position: absolute;
    bottom: -25px;
    right: 690px;
    padding: 45px 42px;
    background-color: var(--orange);
    color: var(--white);
    border-radius: 8px;
    border: none;
    text-align: center;

}

.experience .year {
    font-weight: 700;
    font-size: 65px;
}

.experience .exp {
    font-weight: 500;
    font-size: 45px;
}

/*****************************
        fact section
******************************/
.fact {
    padding: 0 240px;
}

.fact-description {
    width: 40%;
}

.fact-item-container {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 50px;
}

.fact-item {
    border: 1px solid #FF900E;
    border-radius: 8px;
}

.fact-item:hover {}

.fact-inner-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 240px;
    height: 240px;
    box-sizing: border-box;
}

.fact-count {
    font-weight: 600;
    font-size: 45px;
    color: var(--black);
    margin: 0;
}

.fact-desc {
    font-weight: 600;
    font-size: 20px;
}

/******************************
       responsive styles 
*******************************/
@media only screen and (max-width: 576px) {

    /******************* 
        header section 
    *********************/
    header {
        padding: 0 20px;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        padding-left: 0;
    }

    nav ul li {
        margin-left: 0;
    }

    /* banner section */
    .banner {
        margin-top: 50px;
    }

    .banner-description {
        width: 90%;
    }


    /********************
        team section 
    *********************/
    .team {
        padding: 20px 0;
    }

    .team-container {
        padding: 0 20px;
        margin-top: 50px;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }

    .team-photos {
        grid-template-columns: repeat(1, 1fr);
    }


    /********************
        feature section 
    *********************/
    .feature {
        padding: 0 20px;
        margin: 50px 0;
        flex-direction: column;
        gap: 10px;
    }

    .feature-image img {
        width: 100%;
    }

    .experience {
        display: none;
    }


    /* header,
    .team,
    .feature {
        display: none;
    } */

    /********************
        fact section 
    *********************/
    .fact {
        padding: 0 20px;
    }

    .fact-description {
        width: 100%;
    }

    .fact-item-container {
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .fact-inner-box {
        width: 100%;
    }

    .fact-item {
        margin-bottom: 20px;
    }

}