/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

/* root styles */
:root {
    --lightgray: #727272;
    --darkgray: #424242;
    --black: #131313;
    --orange: #FF900E;
    --white: #FFFFFF;
}

* {
    transition: 0.3s ease;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
    margin: 0 auto;
}

/*************************
      header section 
**************************/

header {
    padding: 0 240px;
    background: rgba(255, 144, 14, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-title {
    font-weight: 700;
    font-size: 45px;
    color: var(--black);
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-left: 25px;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--darkgray);
}

/*****************************
         banner section  
*******************************/
.banner {
    margin-top: 100px;
    text-align: center;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    color: var(--black);
    line-height: 75px;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    color: var(--lightgray);
    width: 60%;
    margin: 10px auto 40px;

}

.btn {
    padding: 20px 25px;
    background-color: var(--orange);
    border: none;
    color: var(--white);
    font-weight: 600;
    font-size: 20px;
    border-radius: 8px;
}

.banner img {
    width: 100%;
    margin: 45px 0;
}


/********************
     team section 
*********************/
.team {
    padding: 0 240px;
}

.team-container {
    padding: 0 60px;
    margin-top: 85px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 70px;
}

.team-photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 24px;
}

.team-photos img {
    width: 100%;
}

.team-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.team-title {
    font-size: 45px;
    margin: 0;
}

.team-title .lightgray {
    font-weight: 500;
    color: var(--lightgray);
}

.team-title .black {
    font-weight: 700;
    color: var(--black);
}

.team-title .orange {
    font-weight: 700;
    color: var(--orange);
}

.team-description {
    font-weight: 400;
    font-size: 16px;
    color: var(--lightgray);
    line-height: 28px;
    margin: 30px 0 40px;
}


/******************************
       responsive styles 
*******************************/
@media only screen and (max-width: 576px) {

    /******************* 
        header section 
    *********************/
    header {
        padding: 0 20px;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        padding-left: 0;
    }

    nav ul li {
        margin-left: 0;
    }

    /* banner section */
    .banner {
        margin-top: 50px;
    }

    .banner-description {
        width: 90%;
    }


    /********************
        team section 
    *********************/
    .team {
        padding: 20px 0;
    }

    .team-container {
        padding: 0 20px;
        margin-top: 50px;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }

    .team-photos {
        grid-template-columns: repeat(1, 1fr);
    }
}